body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(0, 0, 0, 0);
}

.start{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
  height: 130px;
}

.first-par{
  margin:auto;
  text-align: justify;
  max-width: 1270px;
  display: flex;
  justify-content: center;
}

.second-par{
  margin:auto;
  text-align: justify;
  max-width: 1270px;
}

.third-par{
  margin:auto;
  text-align: justify;
  max-width: 1270px;
}

.fourth-par{
  margin:auto;
  text-align: justify;
  max-width: 1270px;
}

.botao{ 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fffafa;
  border-radius: 10px;
  border-color: beige;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  
}

.botao:hover{
  background-color: rgb(233, 233, 233);
}

.par5-and6{
  margin:auto;
  max-width: 1270px;
  text-align: justify;
}

.end-par{
  margin:auto;
  max-width: 1270px;
  text-align: justify;
}

.start h1{
  margin-bottom: 0;
  margin-top: -22px;
}

.medium {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
}

.end{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
}

.about-me{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
}


.imagens{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.imagens div > img{
  width: 150px;
  padding: 10px;
}


.link-email{
  color: rgb(8, 56, 8);
}

.link-repositorio{
  color: rgb(8, 56, 8);
}


footer{background-color: white; color: black; text-align: center; padding-bottom: 1%; font-weight: bold;}

@media (max-width: 575px) {

  p{
    padding-left: 40px;
    padding-right: 40px;
  }

  .imagens{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  footer{
    padding-left:30px;
    padding-right:30px;
  }

}